In [4]:
import pandas as pd
import category_encoders as ce

data = {
    "Items":["Item1","Item2","Item3","Item4","Item5","Item6","Item7","Item8","Item9","Item10"],
    "Fruits":["Apple","Banana","Cherry","Kiwi","Orange","Grapes","Fig","Honeydew","Date","Elderberry"]
}
df = pd.DataFrame(data=data)
df

    Items      Fruits
0   Item1       Apple
1   Item2      Banana
2   Item3      Cherry
3   Item4        Kiwi
4   Item5      Orange
5   Item6      Grapes
6   Item7         Fig
7   Item8    Honeydew
8   Item9        Date
9  Item10  Elderberry

In [5]:
be = ce.BinaryEncoder(cols=["Fruits"],return_df=True)
be.fit_transform(df)

    Items  Fruits_0  Fruits_1  Fruits_2  Fruits_3
0   Item1         0         0         0         1
1   Item2         0         0         1         0
2   Item3         0         0         1         1
3   Item4         0         1         0         0
4   Item5         0         1         0         1
5   Item6         0         1         1         0
6   Item7         0         1         1         1
7   Item8         1         0         0         0
8   Item9         1         0         0         1
9  Item10         1         0         1         0

``` python
Advantages
1. There is dimensionality reduction

Disadvantages
1. There is loss in interepretation
```